# Module 2 Callenge

#### Importing file

In [19]:
import csv
import pandas as pd
from pathlib import Path

#### Loading csv data

In [20]:
csv_path = Path("../Starter_Code/Instructions/PyBank/Resources/budget_data.csv")
csv_data = pd.read_csv(csv_path)

#### Reading csv file

#### Reference to the file path

In [21]:
budget_data = pd.read_csv (csv_path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

### Solving Challenge questions

In [16]:
# Creating dataframe
df = budget_data

In [22]:
#1. The total number of months included in the dataset
df['Date'].count()

86

In [23]:
# The net total amount of Profit/Losses over the entire period.
df['Profit/Losses'].sum()

38382578

In [24]:
# The average of the changes in Profit/Losses over the entire period.
df['Profit/Losses'].mean()

446309.0465116279

In [ ]:
# The greatest increase in profits (date and amount) over the entire period.
df['Profit/Losses'].max()

# The greatest decrease in losses (date and amount) over the entire period.
df['Profit/Losses'].min()